{{ form_start(form, {'attr': {'class': 'modern-form'}}) }}
    {% for field in form.children %}
        {% if field.vars.name != '_token' %}
            <div class="form-group">
                {{ form_label(field) }}
                {{ form_widget(field) }}
                {{ form_errors(field) }}
            </div>
        {% endif %}
    {% endfor %}
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save"></i> {{ button_label|default('Enregistrer') }}
        </button>
    </div>
{{ form_end(form) }}
